# Root .gitignore
.DS_Store
.idea/
.vscode/
*.log

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.*
backend/wealth_management.db
backend/*.db

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
